doctype html

html(lang='en')

  head
    title= siteName
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')

    link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')

    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js')
    block scripts



  body
    nav(class="navbar navbar-expand-sm navbar-dark bg-dark")
      a(class="navbar-brand" href="#")
        block title
      button(class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
        span(class="navbar-toggler-icon")
      div(class="collapse navbar-collapse" id="navbarSupportedContent")
        ul(class='navbar-nav mr-auto')
          li
            a(class="nav-link active" aria-current="page" href="/") Home
          li
            a(class="nav-link" href="/gateway") Gateway
          li
            a(class="nav-link" href="/mdbradios") Radios
          li
            a(class="nav-link" href="/dev") Dev
          li
            a(class="nav-link" href="/wateringcircuits") Water Circs
          li
            a(class="nav-link" href="/logs") Logs
    
    div.container-fluid
      div(class='row')
        p    
          button(class="btn btn-primary btn-xs" type="button" data-toggle="collapse" data-target="#collapseSystemStatus" aria-expanded="false" aria-controls="collapseSystemStatus")
            System Status
        div#collapseSystemStatus(class='collapse col-sm-12')
          div(class='card card-body')
            //- TODO update indents
            //- TODO move to separate block file
            #current-system-status(class='alert alert-success mb-0 small')
              h5(class='alert-heading') Current System Status
              hr
              p(class='mb-0').
                <strong>Online Items:</strong><br>
                <br>
                Controllers:<br>
                1 Gateway<br>
                8 Valves<br>
                <br>
                Sensors:<br>
                2 Flow<br>
                4 Moisture
              hr
              h6 Water is:
                div(class=('text-center'))
                  span(class='badge badge-secondary mt-1')
                    h5 Off

        div(class='col-sm-12')
          block content
