extends layout

block scripts


block title
  h1= siteName
  p #{siteName} stored radio detail
  hr

block content
  // https://getbootstrap.com/docs/4.1/content/figures/
  div(class='card')
    img(class='card-img-top' src='')
    div(class='card-body')
      #summary-chart-title
        h3(class='card-title') Radio Management Interface
        h4(class='card-subtitle') Currently: Listing stored radio details from database
      #summary-chart
        // Div to hold the summary chart/graph
      #radios_list
        // TODO list as links for editing descriptions etc.
        #{JSON.stringify(radio_details)}

    form(action='/mdbradios/addchannel', method='POST')
      p
        | name:
        input(type='text', name='name', value='')
        | number:
        input(type='text', name='number', value='')
        | gpionumber:
        input(type='text', name='gpionumber', value='')
        | description:
        input(type='text', name='description', value='')
        | onstate:
        input(type='text', name='onstate', value='')
        | offstate:
        input(type='text', name='offstate', value='')
        | radioId:
        input(type='text', name='radio', value='' )
        | radioId: #{JSON.stringify(radio_details._id)}
      input(type='submit', value='Add Watering Channel')




  script.
