.sidebar-nav {
    margin-top: 20px;
    padding: 0;
    list-style: none;
}
pre.preserve-whitespace {
    white-space: pre-wrap;
}
pre {
    background-color: #ddd;
    font-size: 0.6em;
}
.ctrls-with-margins button, input {
  margin: 2px;
  max-width: 99%; /* right side of inputs gets pushed right up to border otherwise */
}
/* .class1 > .class2 would be first child only */
.ctrls-with-margins .form-group {
  padding: 2px;
  border-style: solid;
  border-color: #eee;
  border-width: 1px;
  border-radius: 0.35rem;
}

.logEventBad {
  background-color: red;
}

/* add back btn-xs again - see SO */
.btn-group-xs > .btn, .btn-xs {
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
  }